main {
  display: flex;
  justify-content: space-around;
  height: 70vh;
  width: 100vw;
}
form {
  display: flex;
  flex-direction: column;
}
img {
  height: 100px;
}
.display_product_container {
  border: 1px solid red;
  height: 30vh;
  display: flex;
}
.dashboard_container {
  border: 1px solid red;
  height: 70vh;
  width: 30vw;
}
